<a href="https://colab.research.google.com/github/priyagijain/projects/blob/main/inprogress.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as snc
import tensorflow as tf
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Dense
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from tensorflow.python.keras.layers.core import Dense, Activation

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
cd /content/gdrive/My Drive/Colab Notebooks/ML PRACTICAL/algos/

/content/gdrive/My Drive/Colab Notebooks/ML PRACTICAL/algos

In [ ]:
air = pd.read_csv("AirQuality.csv", sep=";", decimal=",")

In [ ]:
air.dropna(axis=0, how= 'all', inplace=True)
air.dropna(axis=1, inplace=True)

In [ ]:
air.shape

(9357, 15)

In [ ]:
air.describe()

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
count,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000,9357.000000
mean,-34.207524,1048.990061,-159.090093,1.865683,894.595276,168.616971,794.990168,58.148873,1391.479641,975.072032,9.778305,39.485380,-6.837604
std,77.657170,329.832710,139.789093,41.380206,342.333252,257.433866,321.993552,126.940455,467.210125,456.938184,43.203623,51.216145,38.976670
min,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000,-200.000000
25%,0.600000,921.000000,-200.000000,4.000000,711.000000,50.000000,637.000000,53.000000,1185.000000,700.000000,10.900000,34.100000,0.692300
50%,1.500000,1053.000000,-200.000000,7.900000,895.000000,141.000000,794.000000,96.000000,1446.000000,942.000000,17.200000,48.600000,0.976800
75%,2.600000,1221.000000,-200.000000,13.600000,1105.000000,284.000000,960.000000,133.000000,1662.000000,1255.000000,24.100000,61.900000,1.296200
max,11.900000,2040.000000,1189.000000,63.700000,2214.000000,1479.000000,2683.000000,340.000000,2775.000000,2523.000000,44.600000,88.700000,2.231000

In [ ]:
air.info

<bound method DataFrame.info of             Date      Time  CO(GT)  PT08.S1(CO)  NMHC(GT)  C6H6(GT)  \
0     10/03/2004  18.00.00     2.6       1360.0     150.0      11.9
1     10/03/2004  19.00.00     2.0       1292.0     112.0       9.4
2     10/03/2004  20.00.00     2.2       1402.0      88.0       9.0
3     10/03/2004  21.00.00     2.2       1376.0      80.0       9.2
4     10/03/2004  22.00.00     1.6       1272.0      51.0       6.5
...          ...       ...     ...          ...       ...       ...
9352  04/04/2005  10.00.00     3.1       1314.0    -200.0      13.5
9353  04/04/2005  11.00.00     2.4       1163.0    -200.0      11.4
9354  04/04/2005  12.00.00     2.4       1142.0    -200.0      12.4
9355  04/04/2005  13.00.00     2.1       1003.0    -200.0       9.5
9356  04/04/2005  14.00.00     2.2       1071.0    -200.0      11.9

      PT08.S2(NMHC)  NOx(GT)  PT08.S3(NOx)  NO2(GT)  PT08.S4(NO2)  \
0            1046.0    166.0        1056.0    113.0        1692.0
1             955.0    103.0        1174.0     92.0        1559.0
2             939.0    131.0        1140.0    114.0        1555.0
3             948.0    172.0        1092.0    122.0        1584.0
4             836.0    131.0        1205.0    116.0        1490.0
...             ...      ...           ...      ...           ...
9352         1101.0    472.0         539.0    190.0        1374.0
9353         1027.0    353.0         604.0    179.0        1264.0
9354         1063.0    293.0         603.0    175.0        1241.0
9355          961.0    235.0         702.0    156.0        1041.0
9356         1047.0    265.0         654.0    168.0        1129.0

      PT08.S5(O3)     T    RH      AH
0          1268.0  13.6  48.9  0.7578
1           972.0  13.3  47.7  0.7255
2          1074.0  11.9  54.0  0.7502
3          1203.0  11.0  60.0  0.7867
4          1110.0  11.2  59.6  0.7888
...           ...   ...   ...     ...
9352       1729.0  21.9  29.3  0.7568
9353       1269.0  24.3  23.7  0.7119
9354       1092.0  26.9  18.3  0.6406
9355        770.0  28.3  13.5  0.5139
9356        816.0  28.5  13.1  0.5028

[9357 rows x 15 columns]>

In [ ]:
air.nunique()

Date              391
Time               24
CO(GT)             97
PT08.S1(CO)      1042
NMHC(GT)          430
C6H6(GT)          408
PT08.S2(NMHC)    1246
NOx(GT)           926
PT08.S3(NOx)     1222
NO2(GT)           284
PT08.S4(NO2)     1604
PT08.S5(O3)      1744
T                 437
RH                754
AH               6684
dtype: int64

In [ ]:
air.replace(to_replace= -150, value= np.NaN, inplace= True)
air

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,1.078877e+18,-2.208924e+18,2.6,1360.0,150.000000,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,1.078877e+18,-2.208920e+18,2.0,1292.0,112.000000,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,1.078877e+18,-2.208917e+18,2.2,1402.0,88.000000,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,1.078877e+18,-2.208913e+18,2.2,1376.0,80.000000,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,1.078877e+18,-2.208910e+18,1.6,1272.0,51.000000,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,1.112573e+18,-2.208953e+18,3.1,1314.0,218.811816,13.5,1101.0,472.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568
9353,1.112573e+18,-2.208949e+18,2.4,1163.0,218.811816,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119
9354,1.112573e+18,-2.208946e+18,2.4,1142.0,218.811816,12.4,1063.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406
9355,1.112573e+18,-2.208942e+18,2.1,1003.0,218.811816,9.5,961.0,235.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139
9356,1.112573e+18,-2.208938e+18,2.2,1071.0,218.811816,11.9,1047.0,265.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028

In [ ]:
air.fillna(air.mean(), inplace= True)

<ipython-input-39-4cd5e051d954>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  air.fillna(air.mean(), inplace= True)

In [ ]:
air.loc[:,'Date']=air['Date']
air.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004,18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,10/03/2004,19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,10/03/2004,20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,10/03/2004,21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,10/03/2004,22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [ ]:
from datetime import datetime
Date= []
for i in air['Date']:
    Date.append(datetime.strptime(i,'%d/%m/%Y'))
air.dtypes

Date              object
Time              object
CO(GT)           float64
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)         float64
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                float64
RH               float64
AH               float64
dtype: object

In [ ]:
date=pd.Series(Date)
air['Date']=pd.to_numeric(date)

In [ ]:
air['Date']=air['Date'].astype(float)
air.dtypes
air

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,1.078877e+18,18.00.00,2.6,1360.0,150.000000,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,1.078877e+18,19.00.00,2.0,1292.0,112.000000,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,1.078877e+18,20.00.00,2.2,1402.0,88.000000,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,1.078877e+18,21.00.00,2.2,1376.0,80.000000,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,1.078877e+18,22.00.00,1.6,1272.0,51.000000,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,1.112573e+18,10.00.00,3.1,1314.0,218.811816,13.5,1101.0,472.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568
9353,1.112573e+18,11.00.00,2.4,1163.0,218.811816,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119
9354,1.112573e+18,12.00.00,2.4,1142.0,218.811816,12.4,1063.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406
9355,1.112573e+18,13.00.00,2.1,1003.0,218.811816,9.5,961.0,235.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139
9356,1.112573e+18,14.00.00,2.2,1071.0,218.811816,11.9,1047.0,265.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028

In [ ]:
 air.loc[:,'Time']=air['Time']

In [ ]:
from datetime import datetime
Time= []
for i in air['Time']:
    Time.append(datetime.strptime(i,'%H.%M.%S'))
air.dtypes

Date             float64
Time              object
CO(GT)           float64
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)         float64
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                float64
RH               float64
AH               float64
dtype: object

In [ ]:
time=pd.Series(Time)
air['Time']=pd.to_numeric(time)

In [ ]:
air['Time']=air['Time'].astype(float)
air.dtypes

Date             float64
Time             float64
CO(GT)           float64
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)         float64
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                float64
RH               float64
AH               float64
dtype: object

In [ ]:
air.tail()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
9352,1.112573e+18,-2.208953e+18,3.1,1314.0,218.811816,13.5,1101.0,472.0,539.0,190.0,1374.0,1729.0,21.9,29.3,0.7568
9353,1.112573e+18,-2.208949e+18,2.4,1163.0,218.811816,11.4,1027.0,353.0,604.0,179.0,1264.0,1269.0,24.3,23.7,0.7119
9354,1.112573e+18,-2.208946e+18,2.4,1142.0,218.811816,12.4,1063.0,293.0,603.0,175.0,1241.0,1092.0,26.9,18.3,0.6406
9355,1.112573e+18,-2.208942e+18,2.1,1003.0,218.811816,9.5,961.0,235.0,702.0,156.0,1041.0,770.0,28.3,13.5,0.5139
9356,1.112573e+18,-2.208938e+18,2.2,1071.0,218.811816,11.9,1047.0,265.0,654.0,168.0,1129.0,816.0,28.5,13.1,0.5028

In [ ]:
air2=air.corr('pearson')
air2

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
Date,1.000000,-0.003249,0.041514,-0.003232,0.008010,-0.064007,-0.083633,0.401280,-0.251775,0.349315,-0.517637,0.103508,-0.450032,0.212245,-0.310146
Time,-0.003249,1.000000,0.323944,0.321097,0.102758,0.336890,0.380964,0.200493,-0.316828,0.327673,0.216572,0.239880,0.202272,-0.289543,-0.018233
CO(GT),0.041514,0.323944,1.000000,0.773394,0.289975,0.812361,0.795578,0.762273,-0.613877,0.646349,0.558232,0.759027,0.020257,0.043198,0.043274
PT08.S1(CO),-0.003232,0.321097,0.773394,1.000000,0.278282,0.883795,0.892964,0.615941,-0.771938,0.562843,0.682881,0.899324,0.048627,0.114606,0.135324
NMHC(GT),0.008010,0.102758,0.289975,0.278282,1.000000,0.281928,0.279761,0.098180,-0.261997,0.156510,0.232979,0.240592,0.066782,-0.052784,0.037173
C6H6(GT),-0.064007,0.336890,0.812361,0.883795,0.281928,1.000000,0.981950,0.616801,-0.735744,0.535919,0.765731,0.865689,0.198956,-0.061681,0.167972
PT08.S2(NMHC),-0.083633,0.380964,0.795578,0.892964,0.279761,0.981950,1.000000,0.601773,-0.796703,0.561180,0.777254,0.880578,0.241373,-0.090380,0.186933
NOx(GT),0.401280,0.200493,0.762273,0.615941,0.098180,0.616801,0.601773,1.000000,-0.563270,0.763074,0.205485,0.688205,-0.235636,0.192587,-0.126868
PT08.S3(NOx),-0.251775,-0.316828,-0.613877,-0.771938,-0.261997,-0.735744,-0.796703,-0.563270,1.000000,-0.569479,-0.538468,-0.796569,-0.145112,-0.056740,-0.232017
NO2(GT),0.349315,0.327673,0.646349,0.562843,0.156510,0.535919,0.561180,0.763074,-0.569479,1.000000,0.140655,0.629443,-0.165466,-0.080569,-0.291392
PT08.S4(NO2),-0.517637,0.216572,0.558232,0.682881,0.232979,0.765731,0.777254,0.205485,-0.538468,0.140655,1.000000,0.591144,0.561270,-0.032188,0.629641
PT08.S5(O3),0.103508,0.239880,0.759027,0.899324,0.240592,0.865689,0.880578,0.688205,-0.796569,0.629443,0.591144,1.000000,-0.027172,0.124956,0.070751
T,-0.450032,0.202272,0.020257,0.048627,0.066782,0.198956,0.241373,-0.235636,-0.145112,-0.165466,0.561270,-0.027172,1.000000,-0.578621,0.656397
RH,0.212245,-0.289543,0.043198,0.114606,-0.052784,-0.061681,-0.090380,0.192587,-0.056740,-0.080569,-0.032188,0.124956,-0.578621,1.000000,0.167971
AH,-0.310146,-0.018233,0.043274,0.135324,0.037173,0.167972,0.186933,-0.126868,-0.232017,-0.291392,0.629641,0.070751,0.656397,0.167971,1.000000

In [ ]:
abs(air2['T']).sort_values(ascending=False)

T                1.000000
AH               0.656397
RH               0.578621
PT08.S4(NO2)     0.561270
Date             0.450032
PT08.S2(NMHC)    0.241373
NOx(GT)          0.235636
Time             0.202272
C6H6(GT)         0.198956
NO2(GT)          0.165466
PT08.S3(NOx)     0.145112
NMHC(GT)         0.066782
PT08.S1(CO)      0.048627
PT08.S5(O3)      0.027172
CO(GT)           0.020257
Name: T, dtype: float64

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
features=air
target=air['T']

In [ ]:
features=features.drop('Date',axis=1)
features=features.drop('Time',axis=1)
features=features.drop('T',axis=1)
features=features.drop('CO(GT)',axis=1)
features=features.drop('PT08.S5(O3)',axis=1)
features=features.drop('NMHC(GT)',axis=1)
features=features.drop('PT08.S1(CO)',axis=1)
features.tail()

,C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),RH,AH
9352,13.5,1101.0,472.0,539.0,190.0,1374.0,29.3,0.7568
9353,11.4,1027.0,353.0,604.0,179.0,1264.0,23.7,0.7119
9354,12.4,1063.0,293.0,603.0,175.0,1241.0,18.3,0.6406
9355,9.5,961.0,235.0,702.0,156.0,1041.0,13.5,0.5139
9356,11.9,1047.0,265.0,654.0,168.0,1129.0,13.1,0.5028

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(features, target)
y_test.tail()

8679     6.9
4644    19.4
2051    19.2
6421    13.8
8626     4.4
Name: T, dtype: float64